@import "tailwindcss";

@theme {
  --color-blog-background: #050f02;
  --heading: #f47067;
  --heading-secondary: #dd4949;
  --subheading: #f6d05b;
  --text-terniary: #f2b97c;
  --text: white;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    color-scheme: dark;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-be-vietnam-pro);
    color: var(--heading-secondary);
  }

  p {
    font-family: var(--font-roboto-mono);
  }

  /* Add default styling for links */
  a {
    color: var(--text-terniary);
    font-family: var(--font-roboto-mono);
  }

  ul {
    font-family: var(--font-roboto-mono);
  }

  ol {
    font-family: var(--font-roboto-mono);
  }

  /* This will affect all border colors by default */
  * {
    border-color: var(--text-terniary);
  }
}

html {
  font-family: "EB Garamond", serif;
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400  underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 rounded-lg overflow-x-auto border border-neutral-200  py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-white;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-4 mb-1;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-4 mb-1;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-4 mb-1;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-4 mb-1;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6 mb-4;
}

.prose ol {
  @apply list-decimal pl-6 mb-4;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
